/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
}
/*  global styles^ */

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
}
/* global style */
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 6rem 0rem;
  align-items: center;
  justify-content: space-between;
}
li {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
nav ul {
  display: flex;
  flex: 1 1 30rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav a {
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
}
#logo {
  flex: 3 1 40rem;
}
.sign-up {
  color: #ff3998;
}

/* features */
#features {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
#features h4 {
  color: #ff3998;
  margin-top: 10rem;
  font-size: calc(2rem + 0.5vw);
}
#features h1 {
  padding: 2rem 0rem;
  font-size: calc(15rem + 1vw);
  font-weight: 900;
}
#features p {
  font-size: calc(2.5rem + 0.5vw);
  margin: 2rem 0;
}
#features button {
  padding: 5rem 13rem;
  border-radius: 10rem;
  font-size: 1rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(36deg, #ff497e, #ff8039, #c5b169);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  margin-bottom: 30rem;
}
#features button a {
  font-size: calc(1.4rem + 1vh);
  font-weight: 700;
}

#features .features-text {
  flex: 2 1 40rem;
}
#features .features-img {
  flex: 1 1 20rem;
  height: auto;
  width: 100%;
  width: auto;
}
/* ABOUT SECTION */

#about {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#about .main-text {
  background-image: url(./img/background.svg);
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  border-radius: 5rem;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.text {
  justify-content: flex;
}
#about h1 {
  margin: 5rem;
  font-size: calc(4rem + 1vw);
}
#about p {
  margin: 5rem;
  font-size: calc(1rem + 1vw);
}
#about .sponsors {
  display: flex;
  justify-content: space-between;
  margin: 10rem;
}
#about .nft-gallery a {
  font-size: calc(1rem + 1vw);
  text-decoration: underline;
}

/* nft item list */
#about .merchandise {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
#about .merchandise .grey {
  background-color: #eeeeee;
  width: 29rem;
  height: 10vh;
  margin-bottom: 5rem;
  border-radius: 0 0 2rem 2rem;
}
#about .nft-item {
  display: flex;
  flex-direction: column;
}
#about .nft-item img {
  width: 29rem;
  height: 27.8rem;
}
#about .nft-header,
.nft-main,
.nft-footer {
  display: flex;
  justify-content: space-between;
  color: #a4a4a4;
  width: 90%;
  margin: 1rem 0 1rem 1rem;
  font-size: 2.8rem;
}
#about .nft-header .orange {
  color: #fe8744;
}
#about .nft-main {
  color: black;
}
#about .nft-main img {
  width: 1.8rem;
  height: 2rem;
}
/* footer */
#footer {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

#footer .social img {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}
#footer h1 {
  margin: 2rem 2rem;
}
#footer .box1 {
  flex: 1 1 40rem;
}
#footer .box2 {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}
#footer ul {
  list-style: none;
  flex-wrap: wrap;
}
#footer li {
  margin: 1rem;
}
#footer a {
  font-size: 1.8rem;
}
#features .img11 {
  width: 35rem;
}
.border {
  border-top: 3px #eeeeee solid;
  border-bottom: 3px #eeeeee solid;
}
#footer {
  margin-top: 10rem;
}
.real-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  height: 5vh;
  color: #999999;
  font-size: 3rem;
}
